<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Groupon Clone</title>
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="header__secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-6">
                                <div class="city-selector">
                                    <div class="texticon-group">
                                        <div class="texticon-group__icon padding-right-xs show-on-tab">
                                            <i class="fa fa-map-marker"></i>
                                            <span class="font-sm txt-tertiary">Select Location</span>
                                        </div>
                                        <div class="select-location">
                                            <span>
                                                <select class="form-control">
                                                    <option>Jaipur</option>
                                                    <option>Jodhpur</option>
                                                    <option>Udaipur</option>
                                                    <option>Jaisalmer</option>
                                                    <option>Ajmer</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-6 desktop-show">
                                <div class="right_p0">
                                    <ul class="list_inline secondary_links flt-right">
                                        <li class="show-on-tab">
                                            <a class="utility-btn">How it Works</a>
                                        </li>
                                        <li class="show-on-tab">
                                            <a class="utility-btn" href="#">List your Business</a>
                                        </li>
                                        <li class="line-height-default">
                                            <a class="utility-btn" href="#">
                                                <div class="texticon-group">
                                                    <div class="texticon-group__icon vertical-align-middle padding-top-zero padding-right-xs">
                                                        <i class="fa fa-lock"></i>
                                                        <span class="font-xs">Login / Sign Up</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__primary">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-7 col-lg-6">
                                    <a class="navbar-brand" href="/jaipur">
                                        <img alt="logo" class="header-logo" src="img/logo.png">
                                    </a>
                                    <div class="selest-around">
                                        <span>
                                            <select class="form-control">
                                                <option>Around You</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-5 col-lg-6">
                                    <div class="restaurants-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search restaurants, spa, events" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">Search</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <nav class="navbar navbar-expand-lg">
                                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                                    <div class="toggle position-relative">
                                        <div class="line top position-absolute"></div>
                                        <div class="line middle cross1 position-absolute"></div>
                                        <div class="line middle cross2 position-absolute"></div>
                                        <div class="line bottom position-absolute"></div>
                                    </div>
                                    </button>
                                     <div class="fix_logo">
                                   <img alt="logo" class="header-logo" src="img/logo.png">  
                                </div>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Featured</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Things To Do</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Beauty & Spas</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Local</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Goods</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Getaways</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Deals of the Day</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Coupons</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Sale</a>
                                            </li>
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">How it Works</a>
                                            </li>
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">List your Business</a>
                                            </li>
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">Login </a>
                                            </li>
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">Sign Up</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="slider details">
            <div class="container">
                <div class="card-main">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-sm-12 col-lg-5">
                            <p>MakeMy Trip</p>
                            <div class="m-address">
                                <div>
                                    <span class="card-main__details font-weight-semibold font-lg">Suncity</span>
                                </div>
                                
                            </div>
                            <div class="phone_no">
                                <div>
                                    <i class="fa fa-phone"></i>
                                    <span class="">Phone no. - 1800 1028747</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7 col-sm-12 col-lg-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/1.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img src="img/2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="card-main_1">
                    <tabs>
                    <ul class="nav nav-tabs  tab tab-delight" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tab__item font-medium tab-delight--9 tab__active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gift cards</a>
                        </li>
                        <li class="nav-item tab__item font-medium">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">About</a>
                        </li>
                        <li class="nav-item tab__item font-medium">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Photos</a>
                        </li>
                    </ul>
                    </tabs>
                    <div class="row">
                        
                        <div class="tab-content" id="myTabContent">
                              
                              
                                  
                                 
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                  <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8">
                                <div class="card-main__content--lg margin-top-m"> 
                                    <div class="card-list card-list--border card-list--comfortable">
                                       
                                               
                                        <div class="card-main">
                                            <option-card>
                                                <div>
                                                   
                                                    <div class="margin-bottom-m">
                                                        <div class="row">
                                                            <div class="col-sm-8 col-md-8">
                                                                <h3 class="font-xxxl font-weight-bold txt-primary line-height-sm">Milk, Honey &amp; White Chocolate Scrub (30min)</h3>
                                                                <div class="margin-top-s">
                                                                    <span class="txt-delight-8 font-lg line-height-xs">Free Cancellation</span>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4 col-md-4 txt-right">
                                                                <p>
                                                                    <span class="txt-strike-through font-sm txt-tertiary">
                                                                    <i class="nb-icon nb-icon_rupee nb-icon--xs"></i>2,950</span>
                                                                    <b class="font-xxxl font-weight-bold txt-primary margin-left-xs">
                                                                    <i class="nb-icon nb-icon_rupee nb-icon--md" content="INR" itemprop="priceCurrency"></i>2,659</b>
                                                                </p>
                                                                <span class="font-md txt-tertiary">Inc. of all taxes</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="margin-bottom-m">
                                                        <div class="row">
                                                            <div class="col-sm-7 col-md-8">
                                                                <div class="op-timings">
                                                                    <p class="op-timings__content">
                                                                        <span class="txt-tertiary font-weight-semibold font-sm">Valid for :</span>
                                                                        <span class="txt-primary font-weight-semibold font-sm">1 Person</span>
                                                                    </p>
                                                                    <p class="op-timings__content">
                                                                        <span class="txt-tertiary font-weight-semibold font-sm">Valid on :</span>
                                                                        <span class="txt-primary font-weight-semibold font-sm">All Days</span>
                                                                        
                                                                    </p>
                                                                    <div class="op-timings__content">
                                                                        <span class="txt-tertiary font-weight-semibold font-sm"> Timings :</span>
                                                                        <span class="txt-primary font-weight-semibold font-sm">10 AM - 8 PM</span>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-7 col-md-8">
                                                            
                                                            <button class="btn btn--xs-small btn--border txt-link font-sm font-weight-semibold txt-capitalize">Details</button>
                                                        </div>
                                                        <div class="col-sm-5 col-md-4 txt-right">
                                                            <span class="qty-counter">
                                                                <button class="btn--brand qty-counter__btn-activate">
                                                                <span class="full-width txt-center txt-white font-bold font-xxl">Add</span>
                                                                <span class="txt-white font-xxxl line-height-xs">+</span>
                                                                </button>
                                                                <button class="qty-counter__btn-increment" disabled="">–</button>
                                                                <input name="" readonly="" type="">
                                                                <button class="qty-counter__btn-decrement">+</button>
                                                            </span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </option-card>
                                        </div>
                                  </div>
                                   </div>
                                   </div>
                                   <div class="col-lg-4">

                            
                                   <div class="card-main__content--lg margin-top-m">
                                    <div class="card-main c5">
                                     <div class="heading">
                                         <h3 class="title text-center">Your Order</h3>
                                     </div>
                                     <div class="row pricecard borderp">
                                     <div class="col-md-4">
                                        <p class="txt-primary font-sm ellipsis ellipsis--lg">French Manicure</p> 
                                     </div>
                                      <div class="col-md-4">
                                         <div class="txt-right">
                            <span class="margin-right-m txt-primary font-regular">x 1</span>
                        </div>
                                     </div>
                                     <div class="col-md-4">
                                         <div class="txt-right">
                            <span class="txt-secondary font-weight-bold">
                                 <i class="fa fa-inr"></i> 1,009
                            </span>
                        </div>
                                     </div>
                                     </div>
                                     <div class="row pricecard1">
                                        
                                     <div class="col-md-6">
                                        <p class="">Total</p> 
                                     </div>
                                    
                                     <div class="col-md-6">
                                         <div class="txt-right">
                            <span class=" total_prices">
                               <i class="fa fa-inr"></i> 1,009
                            </span>
                        </div>
                                     </div>

                                     </div>
                                     <div class="margin-top-m margin-bottom-m">
                    <!---->
                    <button class="btn btn--primary btn-block font-weight-bold loaders">
                    <div class="spin-loader-wrapper hide">
                        <div class="spin-loader"></div>
                    </div>
                    Buy now
                </button>
            </div>
            <p class="saving-cart"> you are saving   <i class="fa fa-inr"></i> 1200</p>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                    </div>
                                  </div>
                                       
                                    
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                               <div class="container">
                                <div class="tab_details2">
                                   <div class="row">
                                    <div class="col-md-8">
                                      <div class="margin-bottom-xl">
                <h1 class="font-lg txt-tertiary font-weight-bold line-height-xs margin-bottom-l txt-uppercase">Madeira Bar - Le Meridien Jaipur, , Jaipur</h1>
                <!----><!---->
                    
                    <!----><div>
                        <div style="padding: 18px; border-radius: 6px;" class="gradient-delight-1">
                            <!----><h2 class="tag tag--border font-weight-semibold txt-uppercase line-height-default txt-delight-1">DEALS</h2>
                            <div class="row">
                                <div class="col-sm-8 col-md-7 col-lg-9">
                                    <div class="margin-bottom-s">
                                        <h3>
                                            <!----><p class="font-xxxl font-weight-bold txt-primary margin-bottom-xs">Drinks with Starters</p>
                                            <!----><p class="font-md font-weight-semibold line-height-default txt-tertiary">+ 1 more Deal</p>
                                        </h3>
                                    </div>
                                    <!----><p class="font-lg line-height-xs">
                                        <span class="margin-right-xs">
                                            <span class="font-lg txt-secondary">Starting From :</span>
                                            <span class="font-lg txt-primary font-weight-bold">₹839</span>
                                        </span>
                                        
                                        
                                    </p>
                                    <!---->
                                </div>
                                <!----><div class="col-sm-4 col-md-5 col-lg-3">
                                    <button class="btn-delight font-xl txt-uppercase margin-bottom-s font-weight-semibold bg-delight-1">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
            <div class="margin-top-xl margin-bottom-l">
                <div class="margin-bottom-l margin-top-m">
                    <!----><h2 class="line-height-default font-weight-semibold margin-bottom-s txt-capitalize font-xxxl">About Madeira Bar - Le Meridien Jaipur</h2>
                    <!----><p class="card-main__desc txt-secondary margin-bottom-m font-xl">Madeira Bar is a sleek and stylish bar lounge within&nbsp;Le Meridien Jaipur. The lounge has a very relaxed and comfortable ambience, perfect for after work or pre-dinner drinks. The staff is cordial and amicable providing top quality service.</p>
                    <!---->
                </div>
            </div>
           <h2 class="line-height-default font-weight-semibold margin-bottom-s txt-capitalize font-xxxl"> Address</h2>
               <p class="card-main__desc txt-secondary margin-bottom-m font-xl">Number 1, RIICO, Kukas, Jaipur</p>
                <h2 class="line-height-default font-weight-semibold margin-bottom-s txt-capitalize font-xxxl"> Phone no.</h2>
               <p class="card-main__desc txt-secondary margin-bottom-m font-xl">+91 1426 403333, +91 1426 515100</p>
               <h2 class="line-height-default font-weight-semibold margin-bottom-s txt-capitalize font-xxxl"> Average cost</h2>
               <p class="card-main__desc txt-secondary margin-bottom-m font-xl">Cost for two - 2,600</p>
                                   
                                    <h2 class="line-height-default font-weight-semibold margin-bottom-s txt-capitalize font-xxxl">Follow Madeira Bar - Le Meridien Jaipur</h2>
               <ul class="social_icon details">
                   <li class="facebook"><i class="fa fa-facebook"></i></li>
                    <li class="instagram"><i class="fa fa-instagram"></i></li>
                     <li class="linkedin"><i class="fa fa-linkedin"></i></li>
                      <li class="twitter"><i class="fa fa-twitter"></i></li>
                       <li class="google"><i class="fa fa-google"></i></li>
                        <li class="youtube"><i class="fa fa-youtube"></i></li>
               </ul> 
                <h2 class="line-height-default font-weight-semibold margin-bottom-s txt-capitalize font-xxxl">Madeira Bar - Le Meridien Jaipur Timings</h2>
                <div class="row day_date">
                    <div class="col-md-6">
                        <div class="day">
                            <p>MONDAY</p>
                            <p>TUESDAY</p>
                            <p>WEDNESDAY</p>
                            <p>THURSDAY</p>
                            <p>FRIDAY</p>
                            <p>SATURDAY</p>
                            <p>SUNDAY</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                         <div class="date">
                            <p>11 AM - 11 PM</p>
                            <p>11 AM - 11 PM</p>
                            <p>11 AM - 11 PM</p>
                            <p>11 AM - 11 PM</p>
                             <p>11 AM - 11 PM</p>
                             <p>11 AM - 11 PM</p>
                            <p>11 AM - 11 PM</p>
                         </div>
                     </div>
                </div>
                                    </div> 
                                      <div class="col-md-4">
                                        
                                    </div>
                                     </div>
                                   </div>
                               </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                               <div class="container">
                                <div class="images_details">
                                   <div class="row">
                                     <div class="col-md-4">
                                      
                                         <img src="img/d1.jpg" alt="">
                                     </div>
                                      <div class="col-md-4">
                                        <img src="img/d2.jpg" alt="">
                                     </div>
                                      <div class="col-md-4">
                                        <img src="img/d3.jpg" alt="">
                                     </div>
                                   </div>
                                    <div class="row d5">
                                     <div class="col-md-4">
                                      
                                         <img src="img/d4.jpg" alt="">
                                     </div>
                                      <div class="col-md-4">
                                        <img src="img/d5.jpg" alt="">
                                     </div>
                                      <div class="col-md-4">
                                        <img src="img/d6.jpg" alt="">
                                     </div>
                                   </div>
                                   </div>
                               </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <footer>
            <div class="js-footer">
                <div class="footer-top">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <p class="footer-top__heading">Amazing offers available on Groupon.com</p>
                                    <p class="footer-top__content">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                                        a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
                                        Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
                                        on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
                                    dolor sit amet..", comes from a line in section 1.10.32.</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="txt-tertiary font-weight-bold margin-bottom-s h6">Follow Us</p>
                                    <ul class="list-inline social-links">
                                        <li><a href="#" target="_blank" title="Facebook"><i class="social-media fa fa-facebook"></i></a></li>
                                        <li><a href="#" target="_blank" title="Twitter"><i class="social-media fa fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank" title="Instagram"><i class="social-media fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="wrapper">
                        <div class="container">
                            <div class="footer-bottom__categories">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="txt-white margin-bottom-s font-weight-semibold h6 ftdrop1">Company</p>
                                        <ul class="list-block ftblock1">
                                            <li><a href="#" target="_blank">About Us</a></li>
                                            <li><a href="#" target="_blank">Blog</a></li>
                                            <li><a href="#" target="_blank">Policy</a></li>
                                            <li><a href="#" target="_blank">Universal Fine Print</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="txt-white margin-bottom-s font-weight-semibold h6 ftdrop2">Help</p>
                                        <ul class="list-block help-category ftblock2">
                                            <li><a href="#" target="_blank">Contact Us</a></li>
                                            <li><a href="#">Sitemap</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="app-dwn">
                                            <p class="txt-white margin-bottom-m font-weight-semibold h6">Download app </p>
                                            <ul class="list-inline footer-bottom__app">
                                                <li>
                                                    <a class="display-inline-block btn-left" href="" target="_blank">
                                                        <img alt="" src="img/google-play.png" >
                                                        <p class="txt-white txt-center">Google Play</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="display-inline-block" href="#" target="_blank">
                                                        <img alt="" src="img/app-store.png">
                                                        <p class="txt-white txt-center">App Store</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="copyrights">Copyright © logicspice.com, All right reserved</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="toTop"><img src="img/arrow-top.png" alt="top"></div>
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script>
        $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        responsive: {
        0: {items: 1, nav: true},
        600: {items: 2, nav: false},
        1000: {items: 3, nav: true, loop: true, margin: 20
        }
        }
        })
        })
        </script>
        <script type="text/javascript">
        $(window).scroll(function () {
        if ($(this).scrollTop() > 0) {
        $('#toTop').fadeIn();
        } else {
        $('#toTop').fadeOut();
        }
        });
        $('#toTop').click(function () {
        $('body,html').animate({scrollTop: 0}, 800);
        });
        </script>
        <script type="text/javascript">
        $(document).ready(function () {
        $('.ftdrop1').click(function () {
        if ($('.ftdrop1').hasClass('ftopen1')) {
        $('.ftdrop1').removeClass('ftopen1');
        } else {
        $('.ftdrop1').addClass('ftopen1');
        }
        $(".ftblock1").slideToggle();
        });
        $('.ftdrop2').click(function () {
        if ($('.ftdrop2').hasClass('ftopen2')) {
        $('.ftdrop2').removeClass('ftopen2');
        } else {
        $('.ftdrop2').addClass('ftopen2');
        }
        $(".ftblock2").slideToggle();
        });
        $('.ftdrop3').click(function () {
        if ($('.ftdrop3').hasClass('ftopen3')) {
        $('.ftdrop3').removeClass('ftopen3');
        } else {
        $('.ftdrop3').addClass('ftopen3');
        }
        $(".ftblock3").slideToggle();
        });
        });
        </script>
          <script>
                $(window).scroll(function () {
                if ($(this).scrollTop() > 5) {
                $(".menu_header").addClass("fixed-me");
                } else {
                $(".menu_header").removeClass("fixed-me");
                }
                });
                </script>
    </body>
</html>