<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Groupon Clone</title>
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="header__secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-6">
                                <div class="city-selector">
                                    <div class="texticon-group">
                                        <div class="texticon-group__icon padding-right-xs show-on-tab">

                                            <i class="fa fa-map-marker"></i>
                                            <span class="font-sm txt-tertiary">Select Location</span>
                                        </div>
                                        <div class="select-location">
                                            <span>
                                                <select class="form-control">
                                                    <option>Jaipur</option>
                                                    <option>Jodhpur</option>
                                                    <option>Udaipur</option>
                                                    <option>Jaisalmer</option>
                                                    <option>Ajmer</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-6 desktop-show">
                                <div class="right_p0">
                                    <ul class="list_inline secondary_links flt-right">

                                        <li class="show-on-tab">
                                            <a class="utility-btn">How it Works</a>
                                        </li>
                                        <li class="show-on-tab">
                                            <a class="utility-btn" href="#">List your Business</a>
                                        </li>
                                        <li class="line-height-default">
                                            <a class="utility-btn" href="#">
                                                <div class="texticon-group">
                                                    <div class="texticon-group__icon vertical-align-middle padding-top-zero padding-right-xs">
                                                        <i class="fa fa-lock"></i>
                                                        <span class="font-xs">Login / Sign Up</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>  

                </div>
                <div class="header__primary">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-7 col-lg-6">
                                    <a class="navbar-brand" href="index.html">
                                        <img alt="logo" class="header-logo" src="img/logo.png">
                                    </a>
                                    <div class="selest-around">
                                        <span>
                                            <select class="form-control">
                                                <option>Around You</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-5 col-lg-6">
                                    <div class="restaurants-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search restaurants, spa, events" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">Search</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <nav class="navbar navbar-expand-lg">
                                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                                        <div class="toggle position-relative">
                                            <div class="line top position-absolute"></div>
                                            <div class="line middle cross1 position-absolute"></div>
                                            <div class="line middle cross2 position-absolute"></div>
                                            <div class="line bottom position-absolute"></div>
                                        </div>
                                    </button>
                                     <div class="fix_logo">
                                   <img alt="logo" class="header-logo" src="img/logo.png">  
                                </div>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Featured</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Things To Do</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Beauty & Spas</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Local</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Goods</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Getaways</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Deals of the Day</a>
                                            </li> 
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Coupons</a>
                                            </li> 
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Sale</a>
                                            </li>                                                                        
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">How it Works</a>
                                            </li>                                                                        
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">List your Business</a>
                                            </li>                                                                        
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">Login </a>
                                            </li>                                                                        
                                            <li class="nav-item mobile_sh">
                                                <a class="nav-link" href="#">Sign Up</a>
                                            </li>                                                                        
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slider-section">
                            <img src="img/inr1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="star">
                
      <h2 class="local-section-heading">
        <a class="category-name cursor-default">Lunch Buffets ☀️</a>
      </h2>
    
                 <div class="row">
                     <div class="col-md-4">
                         <div class="item">
                                <div class="border-section">
                                    <div class="img-section text-center">
                                        <a href=""><img src="img/star.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card__description">
                                        <h3>Govind Marg</h3>
                                        <ul class="product-details">
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <span>11 Offers</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-inr" aria-hidden="true"></i> 9 - <i class="fa fa-inr" aria-hidden="true"></i> 2,000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                     </div>
                       <div class="col-md-4">
                         <div class="item">
                                <div class="border-section">
                                    <div class="img-section text-center">
                                        <a href=""><img src="img/star.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card__description">
                                        <h3>Govind Marg</h3>
                                        <ul class="product-details">
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <span>11 Offers</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-inr" aria-hidden="true"></i> 9 - <i class="fa fa-inr" aria-hidden="true"></i> 2,000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                     </div>
                       <div class="col-md-4">
                         <div class="item">
                                <div class="border-section">
                                    <div class="img-section text-center">
                                        <a href=""><img src="img/star.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card__description">
                                        <h3>Govind Marg</h3>
                                        <ul class="product-details">
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <span>11 Offers</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-inr" aria-hidden="true"></i> 9 - <i class="fa fa-inr" aria-hidden="true"></i> 2,000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                     </div>
                 </div> 
                 </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="slider-section">
                            <img src="img/inr2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="coursal_p1 star">
                     <h2 class="local-section-heading">
                    <a class="category-name cursor-default">Lunch Buffets </a>
                    </h2> 
                  <div class="row s01">
                    <div class="col">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="border-section">
                                    <div class="img-section text-center">
                                        <a href=""><img src="img/cr1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card__description">
                                        <h3>Govind Marg</h3>
                                        <ul class="product-details">
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <span>11 Offers</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-inr" aria-hidden="true"></i> 9 - <i class="fa fa-inr" aria-hidden="true"></i> 2,000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="border-section">
                                    <div class="img-section text-center">
                                        <a href=""><img src="img/cr2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card__description">
                                        <h3>Govind Marg</h3>
                                        <ul class="product-details">
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <span>11 Offers</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-inr" aria-hidden="true"></i> 9 - <i class="fa fa-inr" aria-hidden="true"></i> 2,000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="border-section">
                                    <div class="img-section text-center">
                                        <a href=""><img src="img/cr3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card__description">
                                        <h3>Govind Marg</h3>
                                        <ul class="product-details">
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <span>11 Offers</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-inr" aria-hidden="true"></i> 9 - <i class="fa fa-inr" aria-hidden="true"></i> 2,000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="border-section">
                                    <div class="img-section text-center">
                                        <a href=""><img src="img/cr1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card__description">
                                        <h3>Govind Marg</h3>
                                        <ul class="product-details">
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <span>11 Offers</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-inr" aria-hidden="true"></i> 9 - <i class="fa fa-inr" aria-hidden="true"></i> 2,000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
                 <div class="lo2">
                    <h2 class="local-section-heading">
               <a class="category-name cursor-default">Breakfast of Champions 👑</a>
              </h2>
               </div>
            <div class="row">
              
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 1,000</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 300</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 2,500</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 100</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 100</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 100</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 100</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card">
                            <div class="card__inner">
                                <a href="">
                                    <div class="card__image">
                                        <img class="img-responsive" src="img/cardimg1.jpeg" width="261" alt="Breakfast Buffets" data-lzled="true">
                                        <div class="card__favourite">
                                            <label class="nb-checkbox">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                        <div class="card__rating">
                                            <span class="rating-icon nearbuy"></span>
                                            <span class="rating-score" style="color: rgb(63, 126, 0);">New</span>
                                        </div>
                                    </div>
                                    <div class="card__description">
                                        <p class="card__title">County's Kitchen</p>
                                        <div class="card__location">
                                            <p class="card__location"> Big Bazaar Gift Vouchers Worth up to Rs-6000</p>
                                        </div>
                                        <hr class="margin-reset">
                                        <div class="margin-top-s">
                                            <p class="txt-brand-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 100</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vill-all"><a href="#">View All Offers</a></div>
            </div>
            </div>

        </section>
       
      
     
        <footer>
            <div class="js-footer">
                <div class="footer-top">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <p class="footer-top__heading">Amazing offers available on Groupon.com</p>
                                    <p class="footer-top__content">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                                        a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
                                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, 
                                        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus 
                                        Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise 
                                        on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum 
                                        dolor sit amet..", comes from a line in section 1.10.32.</p>

                                </div>
                                <div class="col-md-3">
                                    <p class="txt-tertiary font-weight-bold margin-bottom-s h6">Follow Us</p>
                                    <ul class="list-inline social-links">
                                        <li><a href="#" target="_blank" title="Facebook"><i class="social-media fa fa-facebook"></i></a></li>
                                        <li><a href="#" target="_blank" title="Twitter"><i class="social-media fa fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank" title="Instagram"><i class="social-media fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="wrapper">
                        <div class="container">
                            <div class="footer-bottom__categories">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="txt-white margin-bottom-s font-weight-semibold h6 ftdrop1">Company</p>
                                        <ul class="list-block ftblock1">
                                            <li><a href="#" target="_blank">About Us</a></li>
                                            <li><a href="#" target="_blank">Blog</a></li>
                                            <li><a href="#" target="_blank">Policy</a></li>
                                            <li><a href="#" target="_blank">Universal Fine Print</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="txt-white margin-bottom-s font-weight-semibold h6 ftdrop2">Help</p>
                                        <ul class="list-block help-category ftblock2">
                                            <li><a href="#" target="_blank">Contact Us</a></li>
                                            <li><a href="#">Sitemap</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="app-dwn">
                                            <p class="txt-white margin-bottom-m font-weight-semibold h6">Download app </p>
                                            <ul class="list-inline footer-bottom__app">
                                                <li>
                                                    <a class="display-inline-block btn-left" href="" target="_blank">
                                                        <img alt="" src="img/google-play.png" >
                                                        <p class="txt-white txt-center">Google Play</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="display-inline-block" href="#" target="_blank">
                                                        <img alt="" src="img/app-store.png">
                                                        <p class="txt-white txt-center">App Store</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="copyrights">Copyright © logicspice.com, All right reserved</div>

                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <div id="toTop"><img src="img/arrow-top.png" alt="top"></div>
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    responsiveClass: true,
                    autoplay: true,
                    autoplayTimeout: 5000,
                    responsive: {
                        0: {items: 1, nav: true},
                        600: {items: 2, nav: false},
                        1000: {items: 3, nav: true, loop: true, margin: 20
                        }
                    }
                })
            })
        </script>
        <script type="text/javascript">
            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function () {
                $('body,html').animate({scrollTop: 0}, 800);
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.ftdrop1').click(function () {
                    if ($('.ftdrop1').hasClass('ftopen1')) {
                        $('.ftdrop1').removeClass('ftopen1');
                    } else {
                        $('.ftdrop1').addClass('ftopen1');
                    }
                    $(".ftblock1").slideToggle();
                });
                $('.ftdrop2').click(function () {
                    if ($('.ftdrop2').hasClass('ftopen2')) {
                        $('.ftdrop2').removeClass('ftopen2');
                    } else {
                        $('.ftdrop2').addClass('ftopen2');
                    }
                    $(".ftblock2").slideToggle();
                });
                $('.ftdrop3').click(function () {
                    if ($('.ftdrop3').hasClass('ftopen3')) {
                        $('.ftdrop3').removeClass('ftopen3');
                    } else {
                        $('.ftdrop3').addClass('ftopen3');
                    }
                    $(".ftblock3").slideToggle();
                });
            });
        </script>
         <script>
                $(window).scroll(function () {
                if ($(this).scrollTop() > 5) {
                $(".menu_header").addClass("fixed-me");
                } else {
                $(".menu_header").removeClass("fixed-me");
                }
                });
                </script>
    </body>
</html>